# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\cmc\Minimax-alpha-beta-algorithm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
